/* Make the main div centred and within a box */
.App {
  text-align: center;
  max-width: 600px; 
  background-color: rgb(216, 216, 216);
  margin: 150px auto 10px auto;
  padding: 40px 20px;
  border-radius: 5px;
  border: 3px solid black;
}
/* Give the h1 space: */
h1 {
  margin-bottom: 50px;
}
/* Style the current balance to stand out and have space: */
h2 {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
/* Create space between the form and p element below */
form {
  margin-bottom: 20px;
}
/* Style the buttons and input field */
button, input {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 16px;
}
button {
  background-color: black;
  color: white;
  border: black 1px solid;
}
input {
  width: 160px;
}